<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit Employee</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <div class="card-body">
                <div class="row">
                    <mat-horizontal-stepper [linear]="true" #stepper style="width: 100%; min-height: 350px;">
                        <mat-step [stepControl]="basicInfo">
                          <form [formGroup]="basicInfo">
                            <ng-template matStepLabel>Personal Details</ng-template>
                                <div class="row mt-3">                               
                                    <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                        <mat-label>Name </mat-label>
                                        <input matInput formControlName="employeeName">
                                        </mat-form-field>
                                        <!-- <mat-error *ngIf="basicInfo.controls.name.invalid && (basicInfo.controls.name.dirty || basicInfo.controls.name.touched)">Name Is Required</mat-error> -->
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                        <mat-label>Father Name</mat-label>
                                            <input matInput min="1" formControlName="fatherName">
                                        </mat-form-field>
                                        <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                        <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                    </div>
                                    <div class="col-sm-3">
                                      <mat-form-field appearance="outline">
                                      <mat-label>Dob</mat-label>
                                      <input matInput type="date"  formControlName="dob">
                                      <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                      <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                                    </div>
                                    <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                        <mat-label>Mobile No </mat-label>
                                        <input type="number" formControlName="mobile" matInput>
                                        </mat-form-field>
                                        <!-- <mat-error *ngIf="basicInfo.controls.name.invalid && (basicInfo.controls.name.dirty || basicInfo.controls.name.touched)">Name Is Required</mat-error> -->
                                    </div>
                                </div>
                                <div class="row mt-3"> 
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Email Id</mat-label>
                                          <input type="text" formControlName="emailID" matInput>
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                      <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                  </div>                              
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Location Type</mat-label>
                                      <mat-select formControlName="locationType">
                                          <mat-option [value]="item.locationTypeId" *ngFor="let item of LocationTypeList">{{item.locationType}}</mat-option>
                                      </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Zone</mat-label>
                                      <mat-select formControlName="zoneId">
                                        <mat-option [value]="item.zoneId" *ngFor="let item of ZoneList">{{item.zoneName}}</mat-option>
                                      </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                    <mat-label>District</mat-label>
                                    <mat-select formControlName="districtId">
                                      <mat-option value="">Select</mat-option>
                                      <mat-option [value]="item.districtId" *ngFor="let item of DistrictList">{{item.districtName}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                  </div> 
                                </div>
                                <div class="row mt-3">   
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                      <mat-label>Employee Type</mat-label>
                                      <mat-select formControlName="empType">
                                        <mat-option value="">Select</mat-option>
                                        <mat-option value="1">dev</mat-option>
                                      </mat-select>
                                    </mat-form-field> 
                                  </div>  
                                  <div class="col-sm-3">
                                    <mat-form-field appearance="outline">
                                    <mat-label>Location</mat-label>
                                    <mat-select formControlName="locationId">
                                      <mat-option [value]="item.locationId" *ngFor="let item of LocationList">{{item.locationName}}</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.errors?.pattern">Please enter a valid campus size</mat-error> -->
                                    <!-- <mat-error *ngIf="basicInfo.controls.campusSize.touched && basicInfo.controls.campusSize.errors?.required">Campus Size Is Required</mat-error> -->
                                  </div>                      
                                  <div class="col-sm-3">
                                      <mat-form-field appearance="outline">
                                      <mat-label>Address</mat-label>
                                      <textarea formControlName="address" matInput placeholder="Enter Your Address" style="resize: none;"></textarea>
                                      </mat-form-field>
                                      <!-- <mat-error *ngIf="basicInfo.controls.name.invalid && (basicInfo.controls.name.dirty || basicInfo.controls.name.touched)">Name Is Required</mat-error> -->
                                  </div>
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <button class="float-right btn btn-primary text-uppercase font-size-3" matStepperNext>Next</button>
                                </div>
                          </form>
                        </mat-step>
                        <mat-step [stepControl]="secondFormGroup" label="Employment Details">
                          <form [formGroup]="secondFormGroup">
                            <div class="row mt-3">
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Account No.</mat-label>
                                <input matInput type="number" formControlName="accountNo">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                                <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Year of Posting</mat-label>
                                <input matInput type="date" formControlName="yearOfPosting">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                                <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Aadhar</mat-label>
                                <input matInput type="number" formControlName="adhar">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                                <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Basic Pay Amount</mat-label>
                                <input matInput type="number" formControlName="basicPayAmount">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                                <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.errors?.pattern">Please enter a valid ratio</mat-error> -->
                                <!-- <mat-error *ngIf="basicInfo.controls.studentFacultyRatio.touched && basicInfo.controls.studentFacultyRatio.errors?.required"> Student Faculty Ratio Is Required</mat-error> -->
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>ENF End Date</mat-label>
                                <input matInput type="date" formControlName="epfEndDate">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>DP Amount</mat-label>
                                <input matInput type="number" formControlName="dpAmount">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>DA 1 Amount</mat-label>
                                <input matInput type="number" formControlName="dA1Amount">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>DA 2 Amount</mat-label>
                                <input matInput type="number" formControlName="dA2Amount">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>CPF No</mat-label>
                                <input matInput type="text" formControlName="cpfNo">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>GPF No</mat-label>
                                <input matInput type="text" formControlName="gpfNo">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>SI No</mat-label>
                                <input matInput type="text" formControlName="siNo">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>cgisNo</mat-label>
                                <input matInput type="text" formControlName="cgisNo">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>PAN</mat-label>
                                <input matInput type="text" formControlName="panNo">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                  <mat-label>Channel</mat-label>
                                  <mat-select formControlName="designationId">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option >Male</mat-option>
                                    <mat-option >Female</mat-option>
                                  </mat-select>
                                  <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Unique ID</mat-label>
                                <input matInput type="text" formControlName="employeeUniqueID">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                  <mat-label>Employee Status</mat-label>
                                  <mat-select formControlName="empStatus">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option value="true" >active</mat-option>
                                    <mat-option value="false">inactive</mat-option>
                                  </mat-select>
                                  <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                  <mat-label>Service Type</mat-label>
                                  <mat-select formControlName="serviceType">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option value="full">Full</mat-option>
                                  </mat-select>
                                  <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                  <mat-label>Employee Type</mat-label>
                                  <mat-select formControlName="employeeType">
                                    <mat-option value="">Select</mat-option>
                                    <mat-option value="dev">dev</mat-option>
                                  </mat-select>
                                  <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Probation End Date</mat-label>
                                <input matInput type="date" formControlName="employeeType">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>Jan Aadhar No.</mat-label>
                                <input matInput type="text" formControlName="janAadharNo">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                <mat-label>SSO Id</mat-label>
                                <input matInput type="text" formControlName="ssoid">
                                <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              <div class="col-sm-3">
                                <mat-form-field appearance="outline">
                                  <mat-label>Section</mat-label>
                                  <mat-select formControlName="sectionId">
                                    <mat-option [value]="item.sectionId" *ngFor="let item of SectionList">{{item.sectionName}}</mat-option>
                                  </mat-select>
                                  <!-- <mat-hint align="end">eg. 1-10</mat-hint> -->
                                </mat-form-field>
                              </div>
                              
                            </div>
                            <div class="col-lg-12 mt-3">
                              <button class="float-left btn btn-primary text-uppercase font-size-3" matStepperPrevious>Back</button>
                              <button class="float-right btn btn-primary text-uppercase font-size-3" matStepperNext>Next</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step>
                          <ng-template matStepLabel>Final</ng-template>
                          <p>You are now done.</p>
                          <div class="col-lg-12 mt-3">
                            <button class="float-left btn btn-primary text-uppercase font-size-3" matStepperPrevious>Back</button>
                            <button class="float-right btn btn-primary text-uppercase font-size-3" (click)="addEmployee()">Submit</button>
                          </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->