<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit Financial Year</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <form [formGroup]="FYForm" (ngSubmit)="addFY()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Financial year</label>
                                <select formControlName="financialYear" [ngClass]="{ 'is-invalid': submitted && myForm['financialYear'].errors }" name="stateddl" id="" class="form-control">
                                    <option value="21" selected>2021</option>
                                    <option value="20" >2020</option>
                                </select>
                                <small style="padding: 0px;" class="text-danger" *ngIf="submitted && myForm['financialYear'].errors?.['required']">Please
                                    Select Financial year</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Short Code</label>
                                <input type="text" formControlName="shortCode" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">From</label>
                                <input type="date"  formControlName="fyFrom" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">To</label>
                                <input type="date" formControlName="fyTo" class="form-control" name="example-text-input" placeholder="eg: UP50...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-primary float-right">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->