<!-- PAGE-HEADER -->
<div class="page-header">
    <ol class="breadcrumb"><!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="#">Add Edit Month</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Form Elements</li> -->
    </ol>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="mb-0 card-title">Default forms</h3>
            </div> -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Financial year</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="br" selected>2021</option>
                                <option value="cz" >2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Moth</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="br" selected>Jan</option>
                                <option value="cz" >Feb</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Attendance Status</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="br" selected>Yes</option>
                                <option value="cz" >No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Salary Status</label>
                            <select name="stateddl" id="" class="form-control">
                                <option value="br" selected>Yes</option>
                                <option value="cz" >No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary float-right">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 CLOSED -->